<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="../static/style2.css">
    <link rel="stylesheet" href="../static/styles.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

</head>

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar" style="text-align:center;">
            <div class="sidebar-header">
                <h3><a class="navbar-brand title" href="/">is-art</a></h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="/">Ir a inicio</a>
                </li>
                {% if session.user_id %}
                {% for j in info_usuario %}
                <a class="navbar-brand" href="/profile/{{j.username}}">
                    <img src="https://i.pinimg.com/originals/33/9a/39/339a398b31af3f3b979b0360df67aa9f.jpg" alt="icon" style="width:60px; margin-left:8%" class="rounded-pill">
                </a>
                <a href="/profile/{{j.username}}" class="user">{{j.username}}</a>
                {% endfor %}
                <hr>
                 <li>
                    <a href="/upload">Subir una ilustración</a>
                </li>

                {% endif %}
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tags</a>

                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        {% for a in tags%}
                        <li>
                            <a href="/tag/{{a.tag}}">{{a.tag}}</a>
                        </li>
                        {% endfor %}

                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Categorias</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        {% for i in cat%}
                        <li>
                            <a href="/topics/{{i.type}}">{{i.type}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <br>
                {% if session.user_id%}
                <li>
                    <a href="/repo">Mi repositorio</a>
                </li>
                <li>
                    <a href="/settings">Configuración</a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="/logout" class="download">Cerrar sesión</a>
                </li>
            {% endif %}
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light border-bottom">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Menú</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <form action="/search" method = "post" class="d-flex">
                            <input class="form-control me-2" name="search" type="search" placeholder="Buscar en is-art" aria-label="Search">
                            <button class="btn btn-outline-success visually-hidden" type="submit">Buscar</button>
                        </form>

                        {% if not session.user_id%}
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link visually-hidden" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link visually-hidden" href="#">Page</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/register">Registrarse</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Iniciar sesión</a>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </nav>

                {% block main %}
                {% endblock %}
            <footer class="bg-light text-center text-lg-start" style="margin-top:3rem;">
                <!-- Copyright -->
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                    © 2021 Copyright:
                    <a class="text-dark" href="https://github.com/IsabellaDo5">Isabella Dompé (@IsabellaDo5)</a>
                </div>
                <!-- Copyright -->
            </footer>
        </div>

    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
</body>

</html>