{% extends "layout.html" %}

{% block title %}{{username}} {% endblock %}

{% block main %}

<div class="container alinear">
    <div class="row">
        <div class="col-12">
        {% for i in info %}
            <img src="{{i.icon}}" class="icon" />
            <h1>{{i.name}}</h1>
            <h5 style="font-size: 1.2rem;">@{{i.username}}</h5>
            <p>{{desc}}</p>
        {% endfor %}
        </div>
    </div>
    <hr>
    <h3 class="alinear"> Ilustraciones de @ xd</h3>
    <div class="row row-cols-4">
        {% for i in info%}
        <div class="col">
            <h4></h4>
        </div>
        {% endfor %}
    </div>

</div>


{% endblock %}