{% extends "layout.html" %}

{% block title %}{{username}} {% endblock %}

{% block main %}

<div class="container alinear">
    <div class="row">
        <div class="col-12">
        {% for i in info %}
            <img src="{{i.icon}}" class="icon" />
            <h1>{{i.name}}</h1>
            <h5 style="font-size: 1.2rem;">@{{i.username}}</h5>
            {% if desc %}
            <p>{{desc}}</p>
            {% else %}
            <p style="color:gray !important;"><i>Sin descripción por parte del usuario</i></p>
            {% endif %}
            
        
        </div>
    </div>
    <hr>
    {% if propietario%}
    <h3 class="alinear"> Mis ilustraciones</h3>
    {% else %}
    <h3 class="alinear"> Ilustraciones de {{i.name}}</h3>
    {% endif %}
    {% endfor %}
        <section class="photo-grid-container" style="margin-top: 2.5rem;">
            {% for y in posts %}
            <div class="photo-grid-item">
              <a href="/post/{{y.post_id}}"> <img src="{{y.photo}}" alt="" /></a>
            </div>
            {% endfor %}
        </section>

</div>


{% endblock %}