{% extends "layout.html" %}

{% block title %}is-art{% endblock %}

{% block main %}
<div class="container">
    {% for i in tag_html%}
    <div class="vr">
        <h2 style="font-weight: 600">#{{i.tag}}</h2>
    </div>
    <hr>
    {% endfor %}
    <section class="photo-grid-container">
        {% for i in tag_html %}
        <div class="photo-grid-item">
          <a href="/post/{{i.post_id}}"> <img src="{{i.photo}}" alt="" /></a>
        </div>
        {% endfor %}
    </section>
</div>
{% endblock %}